//---------------------------------------------------------------------------------------------------------
//												INCLUDES
//---------------------------------------------------------------------------------------------------------

#include <Entity.h>


//---------------------------------------------------------------------------------------------------------
//												DECLARATIONS
//---------------------------------------------------------------------------------------------------------

extern BYTE {ImageName}Tiles[];
extern BYTE {ImageName}Map[];


//---------------------------------------------------------------------------------------------------------
//												DEFINITIONS
//---------------------------------------------------------------------------------------------------------

{CharSetROMSpec}

{TextureROMSpec}

{BgmapSpriteROMSpec}

{EntityROMSpec}
